%ul
  - for t in @tweets
    %li
      = linkify_and_bold(t.tweet_text)
      = succeed "From:" do
        %br/
      = t.screen_name
      %a{:href => "https://twitter.com/#!/#{t.screen_name}/status/#{t.tweet_id}"} View Tweet
